* {
    border: none;
    border-radius: 5px;
    font-family: Space Mono;
    font-size: 15px;
    min-height: 0;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background: transparent;
    color: #EEE2D3;
    padding: 0px 20px;
}

/* ####TOOLTIPS### */
tooltip {
    padding: 10px;
    margin: 2px;
    background: #241D19;
    border: 2px solid #241D19;
}

tooltip label {
    color: #EEE2D3;
}

/* ####LEFT### */
#custom-logout {
    font-size: 15px;
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
    transition: all 250ms ease-in-out;
}

#custom-logout:hover {
    background-color: #CC5341;
    color: #EEE2D3;
    border: 2px solid #241d19;
}

#clock {
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
}

#custom-prayerbar {
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
}

/* ####CENTER### */
#workspaces button {
    padding: 0 6px;
    margin: 2px;
    color: #EEE2D3;
    background-color: #241D19;
    border: 2px solid #241d19;
    transition: all 250ms ease-in-out;
}

#workspaces button.active {
    min-width: 30px;
    color: #EEE2D3;
    background-color: #CC5341;

}

/* ####RIGHT### */
#pulseaudio {
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
}

#network {
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
}

#memory {
    padding: 0px 10px;
    margin: 2px;
    background-color: #EEE2D3;
    color: #241d19;
    border: 2px solid #241d19;
}